<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>location4</key>
	<dict>
		<key>NO</key>
		<dict>
			<key>l4n-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option3</string>
			</array>
			<key>l4n-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l4n-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l4n-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
		<key>YES</key>
		<dict>
			<key>l4y-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l4y-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l4y-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l4y-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
	</dict>
	<key>location3</key>
	<dict>
		<key>NO</key>
		<dict>
			<key>l3n-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l3n-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option3</string>
			</array>
			<key>l3n-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l3n-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
		<key>YES</key>
		<dict>
			<key>l3y-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l3y-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l3y-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l3y-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
	</dict>
	<key>location2</key>
	<dict>
		<key>NO</key>
		<dict>
			<key>l2n-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l2n-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l2n-2</key>
			<array>
				<string>option1</string>
				<string>optin2</string>
				<string>po3</string>
				<string>asd4</string>
			</array>
			<key>l2n-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>opton4</string>
			</array>
		</dict>
		<key>YES</key>
		<dict>
			<key>l2y-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l2y-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l2y-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l2y-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option2</string>
				<string>option4</string>
			</array>
		</dict>
	</dict>
	<key>location1</key>
	<dict>
		<key>NO</key>
		<dict>
			<key>l1n-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1n-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1n-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1n-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
		<key>YES</key>
		<dict>
			<key>l1y-4</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1y-3</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1y-2</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
			<key>l1y-1</key>
			<array>
				<string>option1</string>
				<string>option2</string>
				<string>option3</string>
				<string>option4</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
